<div class="card">
    <div class="header">
        <h4 class="title">{{ vm.user.username }}</h4>
    </div>
    <div class="content">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Username</label>
                        <input
                            ng-model="vm.user.username"
                            type="text"
                            class="form-control border-input"
                            disabled
                            placeholder="Username">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input
                            ng-model="vm.user.email"
                            type="text"
                            disabled
                            class="form-control border-input"
                            placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nome</label>
                        <input
                            ng-model="vm.user.firstName"
                            type="text"
                            class="form-control border-input"
                            placeholder="Nome">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>SobreNome</label>
                        <input
                            ng-model="vm.user.lastName"
                            type="text"
                            class="form-control border-input"
                            placeholder="Sobre Nome">
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button
                    ng-click="vm.updateUser(vm.user)"
                    type="submit"
                    class="btn btn-info btn-fill btn-wd">
                    Atualizar
                </button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
