<div class="card card-user">
    <div class="image">
        <img src="../../assets/img/background.jpg" alt="..."/>
    </div>
    <div class="content">
        <div class="author">
          <img class="avatar border-white" src="../../assets/img/faces/face-0.jpg" alt="..."/>
          <h4 class="title">{{ vm.user.username }}<br />
             <small><b>{{ vm.user.email }}</b></small>
          </h4>
        </div>
        <hr>
        <div class="text-center">
            <div class="row">
                <div class="col-md-4">
                    <h5>XXXXX<br /><small>Saldo</small></h5>
                </div>
                <div class="col-md-4">
                    <h5>R$ 0,00<br /><small>Custo por SMS</small></h5>
                </div>
                <div class="col-md-4">
                    <h5>0<br /><small>SMS disponíveis</small></h5>
                </div>
            </div>
        </div>
    </div>

</div>
